<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>HappyX</title>
</head>

<body>

<div style="max-width:700px; margin: 0 auto; padding: 0;">
    <table style='border: 0; background-color: #ffe6e6; width: 100%; border-spacing:0; background: url(https://happyxx.firebaseapp.com/icons/bg.png) no-repeat center bottom; background-size: cover;'>
        <tbody>
        <tr>
            <td height='30px'>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table style='border: 0;width: 100%;border-spacing:0;'>
                    <tbody>
                    <tr>
                        <td width='25px'>&nbsp;</td>
                        <td width='650px'>
                            <table style='border: 0;width: 100%;border-spacing:0;text-align: center;'>
                                <tbody>
                                <tr><td colspan="2" style="text-align: left;">
                                    <a href='https://xebia.com/'><img src='https://seatmanagement.firebaseapp.com/static/media/icons/logo.png' alt="Xebia" /></a>
                                </td></tr>
                                <tr><td height='90' colspan="2">&nbsp;</td></tr>
                                <tr><td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 45px; color: #FF5733; font-weight: bold;">${TEXT}</td></tr>
                                <tr><td height='60' colspan="2">&nbsp;</td></tr>
                                <tr>
                                    <td>
                                        <a href='http://52.224.124.33:443/mailer?email=${EMPLOYEE_EMAIL}&moodType=ACCOMPLISHED&templateId=3'><img src='https://happyxx.firebaseapp.com/icons/highly motivated.png' alt="Accomplished" /></a>
                                    </td>
                                    <td>
                                        <a href='http://52.224.124.33:443//mailer?email=${EMPLOYEE_EMAIL}&moodType=EXCITED&templateId=3'><img src='https://happyxx.firebaseapp.com/icons/motivated.png' alt="Excited" /></a>
                                    </td>
                                </tr>
                                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; color: #585858; font-weight: bold;">
                                    <td>Accomplished</td>
                                    <td>Excited</td>
                                </tr>
                                <tr><td height='80' colspan="2">&nbsp;</td></tr>
                                <tr>
                                    <td>
                                        <a href='http://52.224.124.33:443/mailer?email=${EMPLOYEE_EMAIL}&moodType=STRESSED&templateId=3'><img src='https://happyxx.firebaseapp.com/icons/no change.png' alt="Stressed" /></a>
                                    </td>
                                    <td>
                                        <a href='http://52.224.124.33:443/mailer?email=${EMPLOYEE_EMAIL}&moodType=EXHAUSTED&templateId=3'><img src='https://happyxx.firebaseapp.com/icons/clueless.png' alt="Exhausted" /></a>
                                    </td>
                                </tr>
                                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; color: #585858; font-weight: bold;">
                                    <td>Stressed</td>
                                    <td>Exhausted</td>
                                </tr>
                                <tr><td height='100' colspan="2">&nbsp;</td></tr>
                                <tr><td colspan="2" style="font-size: 21px;color:#454545;">...</td></tr>
                                <tr><td height='30' colspan="2">&nbsp;</td></tr>
                                <tr><td colspan="2">
                                    <a href='https://xebia.com/'><img src='https://seatmanagement.firebaseapp.com/static/media/icons/logo.png' alt="Xebia" /></a>
                                </td></tr>
                                <tr><td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #9D92B2;">Xebia Group 2020. All rights reserved.</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td width='25px'>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height='30px'>&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>